 <h1>{{ site.author }}</h1>
 <hr>
 <p class="lead">
My name is Ben Schreck, and this is my blog. I'm a junior at MIT studying
  electrical engineering and computer science, with plans to venture
  into the crazy land of music technology and change the way we interact
  with music. I also pole vault, and this blog chronicles how my life
  shapes and is shaped by my pole vault endeavours. I'll attempt to
  show you my adventures up till this point through odd ideas
  related to pole vaulting, meditation, zen buddhism, rap music, talking
  to girls, dealing with confidence, and contemplating life itself.
  Hopefully I'll leave you with a window into my mind.
</p>
