<div class="hero">
  <div class="grid-wrapper">
    <div class="grid flex">
      <div class="grid__item flex__item two-fifths palm-one-whole avatar">
        <img class="west-bank-graffiti" src="/images/west_bank.jpg">
        <!--<img class="west-bank-graffiti" src="/images/intrasquad_pic.jpg">-->
      </div>
      <div class="grid__item flex__item three-fifths palm-one-whole">
      {% include custom/welcome.html %}
      </div>
    </div>
  </div>

  <!--
     -<div class="credit">
     -  <p>
     -    Cliffs of Moher, by <a href="http://www.flickr.com/photos/alfarese/2780612581/" target="_blank">Alessandro Farese</a> <a href="http://creativecommons.org/licenses/by-nc-nd/2.0/deed.en" target="_blank" class="licence"><small>(by-nc-nd)</small></a>
     -  </p>
     -</div>
     -->
</div>
